<div class="error notice launchkey-deprecation-banner">
    <strong><em>IMPORTANT DEPRECATION ANNOUNCEMENT: On March 1, 2018, the LaunchKey plugin will be deprecated along with other LaunchKey SDKs, services, and resources that leverage versions v1 / v2 of the LaunchKey API. To avoid a service disruption, you must disable and uninstall your LaunchKey WordPress plugin prior to March 1. For more information, see: <a href="https://www.iovation.com/launchkey-legacy-deprecation" target="_blank">&lt;iovation.com/launchkey-legacy-deprecation&gt;</a>.</em></strong>
</div>
